<!-- <div class="container">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand text-link" href="/privacy">Privacy Notice</a>
    <a class="navbar-brand text-link" href="/about">About us</a>
    <span class=" text">© 2018-2018, SellItAll.com, Inc.</span>
  </nav>
</div> -->
<!-- Footer -->
<footer class="page-footer font-small red pt-4 mt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <!-- <h5 class="text-uppercase">Footer Content</h5> -->
        <a href="/privacy">
          <h5 class=" text-uppercase">Privacy Notice</h5>
        </a>
        <li>We may collect your contact information, unique identifiers and preference information when you visit our website</li>

      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">
        <!-- Links -->
        <a href="/about">
          <h5 class="text-uppercase">About Us</h5>
        </a>
        <p> An Application where you can sell items that you made or that you don't particularly use.</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
