<ng-template #loading>
    <p style="text-align:center"><br/><br/><br/><br/><img src="assets/spin.svg"/></p>
</ng-template>
<table *ngIf="allTheProducts.length > 0">
    
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th></th>
    </tr>
    <tr *ngFor="let oneProduct of allTheProducts">
        <td>  <img [src]="oneProduct.picture" height="200" width="100"></td>
        <td>{{oneProduct.name}}</td>
        <td>{{oneProduct.description}}</td>
        <td>{{oneProduct.price}}</td>
        <td>{{oneProduct.quantity}}</td>
        <td>{{oneProduct.price * oneProduct.quantity}}</td>
        <td>
            <button mat-icon-button (click)="increaseQuantity(cartItem)">
                <mat-icon>add_box</mat-icon>
            </button>
            <button mat-icon-button (click)="decreaseQunatity(cartItem)">
                <mat-icon>indeterminate_check_box</mat-icon>
            </button>
            <button mat-icon-button (click)="removeCartItem(cartItem)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </td>
    </tr>
</table>
