img {
  width: 200px;
  /* height: 200px */
}

.merchandise-list-container {
  display: flex;
  /* justify-content: flex-end; */
  width: 10%;
  /* flex-direction: row; */
  flex: 0 1 auto;
  flex-wrap: wrap;
  /* flex-grow: 1 2 1; */
}

/* .merchandise-list {
} */
