<router-outlet></router-outlet>
<!-- <app-merchandise-list></app-merchandise-list> -->

<div *ngIf="user">
  <button type="button" (click)="logout()"> logout </button>
  <h1>Hello, {{user.username}}</h1>

</div>


<div *ngIf="!user">

  <form *ngIf="!form">
    <label> Username </label>
    <input type="text" [(ngModel)]="formInfo.username" name="username" />

    <label> Password </label>
    <input type="password" [(ngModel)]="formInfo.password" name="password" />


    <button (click)="login()"> login </button>
  </form>

  <form *ngIf="form">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">

      <!-- <label (click)="showForm()" class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" autocomplete="off"> Sign Up
      </label> -->

      <label (click)="showForm()" class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> Log In
      </label>

    </div>

    <label> Username </label>
    <input type="text" [(ngModel)]="formInfo.username" name="username" />

    <label> Password </label>
    <input type="password" [(ngModel)]="formInfo.password" name="password" />

    <div class="form-check">
      <input [(ngModel)]="formInfo.role" class="form-check-input" type="radio" name="role" id="exampleRadios1" value="seller" checked>
      <label class="form-check-label" for="exampleRadios1">
        Seller
      </label>
    </div>

    <div class="form-check">
      <input [(ngModel)]="formInfo.role" class="form-check-input" type="radio" name="role" id="exampleRadios2" value="buyer" checked>
      <label class="form-check-label" for="exampleRadios2">
        Buyer
      </label>
    </div>

    <button type="button" (click)="signup()"> signup </button>
  </form>
</div>
