<div class="merchandise-details-container">
  <div class="actual-item">
    <h1>{{theMerchandise.name}}</h1>
    <!-- <img [src]="theMerchandise.picture" alt=""> -->
    <img *ngIf="theMerchandise.picture" [src]="theMerchandise.picture">
  </div>

  <div class="merchandise-information">
    <h2>${{theMerchandise.price}}</h2>
    <h4> {{theMerchandise.category}}</h4>
    <h4> {{theMerchandise.new}}</h4>
    <h4> {{theMerchandise.description}}</h4>
    <h4> {{theMerchandise.seller}}</h4>
    <h4> {{theMerchandise.quantity}}</h4>
  </div>

  <div>
    <button (click)="toggleForm()">
      <h2>Edit this item</h2>
    </button>
    <div *ngIf="isFormShowing" class="edit">
      <label>Name</label>
      <input [(ngModel)]="theUpdate.name" type="text" name="name">
      <label>Price</label>
      <input [(ngModel)]="theUpdate.price" type="text" name="price">
      <label>Description</label>
      <input [(ngModel)]="theUpdate.description" type="text" name="description">
      <label>Category</label>
      <input [(ngModel)]="theUpdate.category" type="text" name="category"> New or Used?
      <select [(ngModel)]="theUpdate.new">
        <option value="New">New</option>
        <option value="Used">Used</option>
      </select>
      <label>Quantity</label>
      <input [(ngModel)]="theUpdate.quantity" type="text" name="quantity">
      <button (click)="updateTheItem(theMerchandise._id)" type="button">Submit Changes</button>
    </div>
  </div>
