img {
  width: 300px;
}

.actual-item {
  background: white;
}

.merchandise-information {
  width: 50%;
}

.edit {
  flex-direction: column;
  display: flex;
  margin: 5%;
}

.merchandise-details-container {
  background: rgb(173, 187, 202);
  display: flex;
  justify-content: space-around;
  /* background-size: cover; */
}
