<div *ngIf='userEqualSeller()'>

  <!-- LINE 26 IS TEMPORARY FIX ASK SOMBODY FOR HELP -->
  <a href="/merchandise">
    <button class="btn btn-outline-dark" (click)="deleteItem(theMerchandise._id)">Delete Item</button>
  </a>
  <button class="btn btn-outline-dark" (click)="toggleForm()">
    Edit Item
  </button>
  <div *ngIf="isFormShowing" class="edit">
    <label>Name</label>
    <input [(ngModel)]="theUpdate.name" type="text" name="name">

    <label>Price</label>
    <input [(ngModel)]="theUpdate.price" type="text" name="price">

    <label>Description</label>
    <input [(ngModel)]="theUpdate.description" type="text" name="description">

    <label>Category</label>
    <select [(ngModel)]='theUpdate.category'>
      <option value="Electronics ">Electronics</option>
      <option value="Home Furnishing ">Home Furnishing</option>
      <option value="Appliances ">Appliances</option>
      <option value="Handmade ">Handmade</option>
    </select>

    <label> New or Used? </label>
    <select [(ngModel)]="theUpdate.new ">
      <option value="New ">New</option>
      <option value="Used ">Used</option>
    </select>

    <label>Quantity</label>
    <input [(ngModel)]="theUpdate.quantity " type="text " name="quantity ">

    <button (click)="updateTheItem(theMerchandise._id) " type="button ">Submit Changes</button>

  </div>
</div>
