/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
@import "~font-awesome/css/font-awesome.css";

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}


.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}