<div class="container">
  <div *ngIf="!user">
    <h1>Sign Up</h1>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
      </div>
      <input type="text" [(ngModel)]="formInfo.username" name="username" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
      </div>
      <input type="password" [(ngModel)]="formInfo.password" name="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <button type="button" class="btn btn-primary" (click)="signup()">Sign In</button>
    <br>
    <br>
    <div>
      Have an account?
      <a [routerLink]="['/login']"> Login </a>
    </div>
  </div>
